.vs-hexagon {
	width: 80px;
	height: 100px;
	background: #f5f5f5;
	position: relative;
	margin: 0 auto;
	box-shadow: 0px 0px 20px #ccc;
}
.vs-hexagon::before {
	content: "";
	position: absolute;
	left: -24px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 25px solid #f5f5f5;
	z-index: 5;
}
.vs-hexagon::after {
	content: "";
	position: absolute;
	left: 80px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 25px solid #f5f5f5;
	z-index: 5;
}
.vs-hexagon-text {
	color: #656565;
  font-size: 62px;
  font-weight: 600;
}
.vs-hexagon-left {
	position: absolute;
  width: 60px;
  height: 40px;
  background-color: #ccc;
  left: -65px;
  top: 30px;
	box-shadow: -10px 0px 25px #ccc;
}
.vs-hexagon-left::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 15px solid #ccc;
	z-index: 10;
	left: -15px;
}
.vs-hexagon-right {
	position: absolute;
	width: 60px;
	height: 40px;
	background-color: #ccc;
	left: 85px;
	top: 30px;
	box-shadow: 10px 0px 25px #ccc;
	z-index: 0;
}
.vs-hexagon-right::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 15px solid #ccc;
	z-index: 10;
	left: 60px;
}
.user-name {
	margin-bottom: 0;
	margin-top: 25px;
	background-color: #ccc;
	border-radius: 1em;
}
.user-name p {
	color: #656565;
	font-size: 20px;
  font-weight: 600;
  margin: 8px 0;
}
